* {
    margin: 5px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

#header {
    padding: 10px;
    display: block;

    text-decoration: none;

    color: rgb(198, 218, 191);
    text-align: center;
    /*width: 25%;*/
    float: left;
}

hr {
    display: block;
    clear: both;
    color: rgb(198, 218, 191);
}



ul {
    list-style-type: none;
    width: 100%;
}

li {
    float: left;

}

.links {
    float: right;
    width: 25%;

}

li a {
    padding: 10px;
    display: block;
    color: rgb(198, 218, 191);
    text-decoration: none;
    text-align: center;
}

.links:hover:not(.active) {
    background-color: rgb(26, 147, 111);
}

.active {
    background-color: rgb(26, 147, 111);
}

#logo_img {
    display: inline-block;
    float: left;
}

#big_img {
    width: 25%;
}


footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}