* {
    margin: 5px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

#header {
    padding: 9px;
    display: block;
    text-decoration: none;
    color: rgb(244, 208, 111);
    float: left;
}

hr {
    display: block;
    clear: both;
    color: rgb(198, 218, 191);
}

ul {
    list-style-type: none;
    width: 100%;
}


.links {
    float: right;
    width: 15%;

}

li a {
    padding: 10px;
    display: block;
    color: rgb(6, 7, 14);
    text-decoration: none;
    text-align: center;
}

.links:hover:not(.active) {
    background-color: rgb(244, 208, 111);
}

.active {
    background-color: rgb(244, 208, 111);
}

#logo_img {
    display: inline-block;
    float: left;
}

.hover_dinges {
    float: left;
    margin: 6%;
    margin-top: 0%;
    width: 10%;
    text-align: center;
}

#big_img {
    width: 25%;
    float: left;

}
.fotos {
    width: 12%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    display: inline-block;
}

p {
    padding: 5px;
    display: block;
    line-height: 30px;
    font-size: 18px;
    margin-left: 27%;
    margin-right: 2%;
}
.ECR2_0{
    width:  400px;
    height: 300px;
    margin: 2%;
}
